# Diretrizes de Qualidade - Projeto Quiz de Programação

## Stack e Ferramentas
- Python .12+ gerenciado via `uv`
- Framework Web: FastAPI com Jinja2.
- Framework de Testes: Pytest.

## Padrões de Código
- Todas as dunções em `app` e `tests/` devem possuir Type Hints
- Formatação e linting devem seguir o padrão do Ruff

## Regras para Suíte de Testes
- Estruturar testes na pasta `tests/`